.cash {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
  .container {
    display: flex;
    width: 80%;
    max-width: 1400px;
    justify-content: space-between;
    .text_container {
      padding-left: 32px;
      align-self: start;
      .text {
        font-size: 15px;
      }
    }
    .pichers {
      align-self: center;
    }
  }
}
img {
  width: 100%;
}